body {
  background-image: url(images/background.jpg);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  padding-bottom: 100px;
}
header {
  background-color:gold;
  color:black;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color:gold;
  color:black;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  border : 3px solid gainsboro;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.question {
  background-color: gold;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 25px;
  width: 600px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.question:hover {
  background-color:darkgrey;
}

a{
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
  font-size: 18px;
}


@media only screen and (max-width: 431px) {
  body {
    background-size: cover;
  }

  .container {
    padding-top: 60px;
  }

  .question {
    width: 90%; /* Justera bredden för att passa mindre skärmar */
    font-size: 16px; /* Mindre textstorlek på mobil */
    margin: 15px; /* Mindre marginaler */
  }

  footer {
    padding: 15px; /* Mindre padding i footer */
    font-size: 14px; /* Mindre textstorlek */
    width: 100%;
  }
  
}

